body {
    background-color: rgb(11, 4, 41); /* Cambia 'white' al color que desees */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; /* Añadir margen cero para asegurar que no haya márgenes predeterminados */
}

.container {
    flex: 1;
    margin-bottom: 20px; /* Ajusta el valor según el espacio que desees entre el carrusel y el footer */
}

footer {
    margin-top: auto;
}


.card {
    text-align: center;
}


/* Estilos para el carrusel y sus elementos */
.carousel {
    position: relative;
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
    background: none; /* Elimina el fondo */
    color: #2b0505; /* Color del texto */
}

/* Ajustes para el tamaño del texto */
.carousel h5 {
    margin-bottom: 5px;
    font-size: 24px; /* Ajusta el tamaño según sea necesario */
}

.carousel p {
    margin: 0;
    font-size: 18px; /* Ajusta el tamaño según sea necesario */
}

/* Estilos personalizados */

/* Agregar animación de deslizamiento */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Aplicar animación a la fecha y hora */
#fecha-hora {
    animation: fadeIn 1s ease-out;
}















/* Agrega estilos específicos para resoluciones móviles */
@media (max-width: 320px) {
    .navbar {
        padding: 0.5rem;
    }

    .navbar button,
    .navbar a {
        margin: 0.1rem;
        font-size: 0.8rem; /* Ajusta el tamaño de fuente según sea necesario */
    }
}

/* Estilos generales que aplican en todas las resoluciones */
/* ... (otros estilos) */





